<div class="container">

    <h1> <%= title %>  </h1>
    <br>
    <h2>Salma Chaaban</h2>
    <br>
    <p>My name is Salma Chaaban. I am a student in the Software Engineering Technician (Online) Program at Centennial College. 
        I chose this program because it is high in demand, and I think that it provides some space for creativity and new challenges. Some of my hobbies include reading, cooking, and watching movies.</p>

    <a href="/content/files/resume.pdf">Resume</a>


</div>