<div class="container">
    <h1> <%= title %>  </h1>
    <br>
    <h2>Welcome</h2>
    <br>
    <h5>Mission Statement</h5>
    <p>To try my best in learning what I need to learn to become a successful software engineer.</p>

    <ul>
        <li><a href="/about">About Page</a></li>
        <li><a href="/projects">Projects Page</a></li>
        <li><a href="/services">Services Page</a></li>
        <li><a href="/contact">Contact Page</a></li>
    </ul>


</div>