<div class="projectsPage">
    <div class="container">

        <h1> <%= title %>  </h1>

        <br>
        <h5>Below are some of the projects that I have worked on during my time at Centennial College so far:</h5>
        <br>

        <ol>
        <li>A website made using HTML and CSS, about a Real Estate Broker.</li>
        <img src="/content/images/website.png">
        <hr>

        <li>Created a canvas game using JavaScript and HTML.</li>
        <img src="/content/images/game.PNG">
        <hr>

        <li>Created an online store database with SQL as part of a group project.</li>
        <img src="/content/images/Relational_1.png">
        </ol>

    </div>
</div>