<div class="servicesPage">
    <div class="container">
        <h1> <%= title %>  </h1>

        <p>Services I offer include:</p>

        <ul>
            <li>General Programming</li>
            <img src="/content/images/programming.jpg">
            <hr>
            <li>Web Development</li>
            <img src="/content/images/web.jpg">
            <hr>
            <li>Mobile Application Programming</li>
            <img src="/content/images/phone.jpg">
            <hr>
            <li>Databases Creation and Maintenance</li>
            <img src="/content/images/sql.jpg">
        </ul>

    </div>
</div>